/* Global styles */
:root {
	--bg-color: #231a21;
	--nav-color: #352931;
	--light-text-color: #f3efe0;
	--dark-text-color: #1e2019;
	--button-color: #565264;
	--button-hover: #69647c;
	--inactive-color: #bfacaa;
	--btn-save: #71ff6c;
	/* --save-hover: #68a84b; */
	--btn-cancel: #ff5b68;
	/* --cancel-hover: #ff6b72; */
}

html,
body {
	min-width: 320px;
	background: var(--bg-color);
	font-family: 'Montserrat', sans-serif;
}

.App {
	display: flex;
}

li {
	cursor: pointer;
}

p {
	font-size: 0.9rem;
}

/* Navbar */
nav {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 45px;
	background: var(--nav-color);
	color: var(--light-text-color);
	padding: 0 2rem;
	-webkit-box-shadow: 0px -10px 32px -1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px -10px 32px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px -10px 32px -1px rgba(0, 0, 0, 0.3);
	z-index: 5;
}

.navbar,
.navbar li {
	display: flex;
}

.nav-link {
	margin-right: 0.6rem;
}

/* SVG */
svg {
	width: 18px;
	height: 18px;
	stroke: var(--inactive-color);
	display: block;
	transition: stroke 0.2s, stroke-width 0.2s;
	pointer-events: none;
	stroke-width: 1px;
}

button:hover svg,
button:active svg {
	stroke: var(--light-text-color);
	stroke-width: 2px;
}

.nav-link svg {
	width: 20px;
	height: 20px;
}

label svg {
	stroke: var(--dark-text-color);
	stroke-width: 2px;
}

/* Menu panel */
.menu-panel {
	width: 305px;
	position: fixed;
	height: calc(100vh - 45px);
	top: 45px;
	background: var(--nav-color);
	padding: 0.5rem 2rem 1.5rem;
	-webkit-box-shadow: 9px 4px 24px -25px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 9px 4px 24px -25px rgba(0, 0, 0, 0.3);
	box-shadow: 9px 4px 24px -25px rgba(0, 0, 0, 0.3);
	overflow-y: auto;
	z-index: 4;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
}

.menu-panel ul {
	margin-bottom: 0.8rem;
}

.underlayer {
	width: 0px;
	transition: width 0.3s ease-in-out;
	flex-shrink: 0;
}

.widened {
	width: 305px;
}

.open {
	transform: translateX(0);
}

@media (max-width: 550px) {
	.underlayer {
		display: none;
	}
}

/* Project cards */
.project-card {
	display: flex;
	align-items: center;
	width: 240px;
	height: 40px;
	color: var(--inactive-color);
	transition: color 0.2s;
}

.project-card:hover,
.project-card:active {
	color: var(--light-text-color);
}

.selected {
	color: var(--light-text-color);
}

.project-card p {
	width: 184px;
	margin-top: 2px;
	padding: 0;
	transition: padding 0.1s ease-in;
}

.selected p {
	padding: 0 0 0 10px;
}

.project-card button,
form button {
	margin-left: 0.6rem;
}

/* Buttons */
button {
	color: var(--inactive-color);
}

.new-project-btn,
.new-task-btn {
	align-items: center;
	display: flex;
	height: 30px;
}

.new-project-btn p,
.new-task-btn p {
	margin-left: 0.2rem;
}

button p {
	transition: color 0.2s;
}

button:hover,
button:active {
	color: var(--light-text-color);
}

.new-project-btn:hover svg,
.new-project-btn:active svg,
.new-task-btn:hover svg,
.new-task-btn:active svg {
	stroke-width: 1px;
}

button[type='submit']:hover svg,
button[type='submit']:active svg {
	stroke: var(--btn-save);
}

button[type='reset']:hover svg,
button[type='reset']:active svg {
	stroke: var(--btn-cancel);
}

button:disabled svg,
button:disabled:hover svg,
button:disabled:active svg {
	stroke-width: 1px;
	stroke: var(--inactive-color);
}

/* Backdrop */
.backdrop {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 8;
	position: fixed;
	top: 0;
}

/* Forms */
.menu-panel form {
	display: flex;
	align-items: center;
	width: 240px;
}

form[name='edit-project'],
.task-form {
	z-index: 10;
	position: fixed;
	background-color: var(--nav-color);
	top: 30%;
	left: 50%;
	padding: 1.5rem;
	width: 300px;
	height: 110px;
	text-align: center;
	margin-left: -150px;
	border-radius: 5px;
}

h2 {
	font-family: inherit;
	color: var(--light-text-color);
	margin-bottom: 0.8rem;
	font-weight: 600;
}

form div {
	display: flex;
	justify-content: space-evenly;
}

.task-form {
	height: auto;
	text-align: center;
	top: 15%;
}

/* Inputs */
input[type='text'],
textarea,
select,
input[type='date'] {
	border-radius: 5px;
	border: none;
	padding: 0.4rem 0.6rem;
	font-family: inherit;
	font-size: 0.9rem;
	width: 184px;
	background-color: var(--light-text-color);
}

form[name='edit-project'] input[type='text'] {
	width: 80%;
	margin-left: 0.3rem;
}

.task-form input,
textarea,
select {
	width: 100%;
	margin: 0 auto 0.9rem;
	display: block;
}

.task-form p {
	color: var(--light-text-color);
	margin-bottom: 0.4rem;
	font-size: 0.9rem;
}

textarea {
	resize: none;
}

/* Tasks view */

.task-list {
	width: 100%;
	max-width: 900px;
	margin: 45px auto;
	padding: 1rem 2rem;
	font-size: 0.9rem;
}

.task-wrapper {
	border-radius: 5px;
	margin: 1rem 0;
}

.task-card {
	width: 100%;
	display: flex;
	background-color: transparent;
	color: var(--light-text-color);
	position: relative;
}

.high-priority {
	border: 1px solid #da535e;
}

.medium-priority {
	border: 1px solid #ffe345;
}

.low-priority {
	border: 1px solid #578d3e;
}

.expand-btn,
.collapse-btn {
	background: none;
	border: none;
	padding: 6px;
}

.expand-btn:hover,
.collapse-btn:hover,
.expand-btn:active,
.collapse-btn:active {
	background: none;
}

.task-info {
	font-size: 0.7rem;
}

.task-card > div {
	padding: 1rem 0;
	flex-grow: 1;
}

.task-card p {
	margin: 0;
}

.task-info-container {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
}

input[type='checkbox'] {
	opacity: 0;
	position: fixed;
	width: 0;
	pointer-events: none;
}

label {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: var(--light-text-color);
	border-radius: 5px;
	align-self: center;
	margin: 1rem;
	cursor: pointer;
}

/* Expanded task view */

.expanded-info-container {
	padding: 0 52px 1.5rem 28px;
	color: var(--light-text-color);
}

.expanded-info-container p {
	margin-bottom: 1rem;
}

.task-project-info {
	padding: 0.4rem;
	margin: 0;
	background: var(--button-color);
	display: inline-block;
	border-radius: 5px;
	font-size: 0.7rem;
}

.expanded-info-container .edit {
	display: block;
	margin-top: 0.4em;
	background-color: transparent;
	padding: 0;
	border-radius: 0px;
	border-bottom: 1px solid currentColor;
	font-size: 0.7rem;
	color: var(--inactive-color);
	transition: color 0.1s ease-in-out;
}

.expanded-info-container .edit:hover,
.expanded-info-container .edit:active {
	color: var(--light-text-color);
}
